.env
out
*.txt
tmp
internal/server/static/head-support.js
internal/server/static/htmx.min.js
internal/server/static/json-enc-custom.js
internal/server/static/sse.js
internal/server/static/tailwind.js
node_modules