{{block "companyPage" .}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link href="/static/output.css" rel="stylesheet" />
  <script src="/static/htmx.min.js"></script>
  <script src="/static/head-support.js"></script>
</head>

<body class="" hx-ext="head-support">
  <section class="bg-shark-950 h-screen flex flex-col font-mono">
    {{template "navBar" .User}}
    <div class="flex flex-col lg:flex-row p-4 justify-center overflow-y-auto">
      <div class="w-full lg:w-3/4 flex flex-col lg:flex-row gap-4 lg:divide-x lg:divide-gray-600">
        <div class="w-full lg:w-1/2 flex flex-col justify-center gap-4 overflow-auto p-4">
          <img {{ if eq .Company.ImageURL "" }} src="/public/company.svg" {{else}} src="{{.Company.ImageURL}}" {{end}}
            class="w-1/2 h-auto border-2 border-gray-700 aspect-square rounded-full mx-auto object-cover" id="preview"
            alt="avatar" />
          <span class="text-white text-2xl font-semibold text-center">{{.Company.Name}}</span>
          <span class="text-white text-lg text-center">{{.Company.Description}}</span>
          <a href="{{.Company.Website}}" class="text-white text-lg text-center underline" target="_blank">Sitio web</a>
        </div>
        <div class="w-full lg:w-1/2 flex flex-col justify-center p-4 gap-4 overflow-auto">
          <span class="text-white text-center font-semibold text-2xl">
            Ofertas
          </span>
          {{if not .Offers}}
          <span class="text-white text-center"> Ninguna coincidencia </span>
          {{else}} {{range .Offers}} {{template "offerCard" .}} {{end}} {{end}}
        </div>
      </div>
    </div>
  </section>
</body>

</html>
{{end}}