{{block "pDescription" .}}
{{if .Owner}}
<section class="flex flex-col">
  <form class="flex justify-center justify-items-center" hx-patch="/descriptions" hx-swap="none">
    <textarea id="pDesc" name="description" 
      class="flex-1 text-shark-200 bg-shark-950 border-b border-shark-300 auto-resize-textarea" 
      placeholder="Ej: Software Engineer and Web Developer. Awarded as GitHub Star, Microsoft MVP, and Google Developer Expert."
      maxlength="128"
    >{{.Profile.Description}}</textarea>
    <button
      id="descr-save"
      class="flex-none flex justify-center justify-items-center w-7 h-7 rounded-full hover:bg-green-700 transition-colors duration-200"
    >
      <img
        src="/public/check.svg"
        alt="Añadir"
        width="16"
        height="16"
        class="pointer-events-none"
      />
    </button>
  </form>
  <span id="pDesc-msg" class="block text-center text-red-500 text-sm"></span>
</section>
{{else}}
<pre id="pDesc" class="text-shark-200 text-center whitespace-pre-wrap">{{.Profile.Description}}</pre>
{{end}}
{{end}}

{{block "descrAlerts" .}}
{{if .Ok}}
<span id="pDesc-msg" class="text-green-400 text-sm" hx-swap-oob="outerHTML">{{.Msg}}</span>
{{else}}
<span id="pDesc-msg" class="text-red-500 text-sm" hx-swap-oob="outerHTML">{{.Msg}}</span>
{{end}}
{{end}}
