{{block "jobPage" .}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <script src="/static/htmx.min.js"></script>
  <link href="/static/output.css" rel="stylesheet" />
  <script src="/static/head-support.js"></script>
</head>

<body class="bg-shark-950" hx-ext="head-support">
  {{template "navBar" .User}}
  <div class="flex flex-row justify-center">
    <div class="w-1/2 flex flex-col gap-4">
      <form id="company-filters" hx-get="/" hx-target="body" hx-boost="true" hx-push-url="true"
        class="flex flex-row gap-4 items-center justify-center">
        <div class="flex items-center gap-2">
          <label for="f-query" class="text-shark-200">
            <img src="/public/search.svg" width="20" height="20" alt="search" />
          </label>
          <input id="f-query" type="text" name="q" class="border border-gray-300 rounded" />
        </div>
        <button type="submit" class="bg-shark-700 text-white rounded p-2">
          Buscar
        </button>
      </form>
      <div class="grid grid-cols-2 gap-4 m-4">
        {{range .Offers}} {{template "jobCard" .}} {{end}}
      </div>
    </div>
  </div>
</body>

</html>
{{end}} {{block "jobCard" .}}
<div class="flex flex-col gap-2 border border-shark-900 rounded p-8">
  <div>
    <span class="text-shark-200 font-semibold text-xl hover:underline hover:underline-offset-1 cursor-pointer"
      hx-get="/preamble/{{.QuizID}}" hx-trigger="click" hx-push-url="true" hx-target="body">{{.Title}}</span>
    <span class="text-shark-300 font-light">{{.RelativeTime}}</span>
  </div>
  <div>
    <span class="text-shark-200 hover:underline hover:underline-offset-1 cursor-pointer"
      hx-get="/companies/{{.CompanyID}}" hx-boost="true" hx-push-url="true" hx-target="body">
      {{.CompanyName}}
    </span>
  </div>
  <span class="text-shark-200">{{.MinWage}}$ - {{.MaxWage}}$</span>
</div>
{{end}}
