{{block "jobPage" .}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="/static/tailwind.js"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              shark: {
                50: "#f6f6f6",
                100: "#e7e7e7",
                200: "#d1d1d1",
                300: "#b0b0b0",
                400: "#888888",
                500: "#6d6d6d",
                600: "#5d5d5d",
                700: "#4f4f4f",
                800: "#454545",
                900: "#3d3d3d",
                950: "#1e1e1e",
              },
            },
          },
        },
      };
    </script>
    <script src="static/htmx.min.js"></script>
  </head>

  <body>
    <div hx-boost="true">
      {{range .Offers}}
      <div>
        <h1>{{.Title}}</h1>
        <p>{{.Description}}</p>
        <a href="/quizzes/{{.ID}}" hx-trigger="click" hx-boost="true">Take Quiz</a>
      </div>
      {{end}}
    </div>
  </body>
</html>
{{end}}
