{{block "jobPage" .}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="static/htmx.min.js"></script>
    <link href="/static/output.css" rel="stylesheet" />
  </head>

  <body>
    <div>
      {{range .Offers}}
      <div>
        <h1>{{.Title}}</h1>
        <p>{{.Description}}</p>
        <button hx-post="/participate" hx-vals="js:{quizID: '{{.QuizID}}'}">
          Take Quiz
        </button>
      </div>
      {{end}}
    </div>
  </body>
</html>
{{end}}
