{{block "linkSection" .}}
<div>
  <div class="flex items-center justify-center gap-1">
    <span class="text-white text-lg">Enlaces</span>
  {{if .Owner}}
    <button 
      onclick="linkForm.showModal()"
      class="flex items-center justify-center w-7 h-7 rounded-full hover:bg-green-700 transition-colors duration-200"
      type="button"
      aria-label="Añadir enlace"
    >
      <img 
        src="/public/plus.svg" 
        alt="Añadir" 
        width="16" 
        height="16"
        class="pointer-events-none"
      />
    </button>
  </div>
  {{template "linkForm" .}}
  {{else}}
  </div>
  {{end}}
  {{template "linkList" .}}
</div>
{{end}}

{{block "linkEntry" .}}
<div id="link_{{.ID}}" class="flex items-center">
  <a class="p-2 rounded-full hover:bg-gray-700 transition-colors duration-200 flex items-center justify-center" target="_blank" href="{{.URL}}">
    <img src="/public/link.svg" alt="link icon" width="16" height="16" style="pointer-events: none" />
  </a>
  <span class="text-shark-400 text-base">{{.Name}}</span>
  <button 
    hx-delete="/links/{{.ID}}" 
    hx-target="#link_{{.ID}}"
    hx-swap="delete"
    class="flex items-center justify-center w-7 h-7 rounded-full hover:bg-red-500 transition-colors duration-200"
  >
    <img src="/public/delete.svg" alt="delete icon" width="16" height="16" style="pointer-events: none" />
  </button>
</div>
{{end}}

{{block "simpleLink" .}}
<div id="link_{{.ID}}" class="flex items-center">
  <a class="p-2 rounded-full hover:bg-gray-700 transition-colors duration-200 flex items-center justify-center" target="_blank" href="{{.URL}}">
    <img src="/public/link.svg" alt="link icon" width="16" height="16" style="pointer-events: none" />
  </a>
  <span class="text-shark-400 text-base">{{.Name}}</span>
</div>
{{end}}

{{block "linkList" .}} 
<div id="link_list" class="flex flex-wrap justify-center gap-6" >
  {{if not .Links}}
  <span class="text-shark-200" id="empty-links">Sin registrar</span>
  {{end}} 
  {{if .Owner}}
  {{range .Links}} {{template "linkEntry" .}} {{end}}
  {{else}}
  {{range .Links}} {{template "simpleLink" .}} {{end}}
  {{end}}
</div>
{{end}} 

{{block "linkForm" .}}
<dialog id="linkForm" class="bg-transparent backdrop:bg-shark-950/80">
  <div class="fixed inset-0 flex items-center justify-center">
    <form 
      hx-post="/links" 
      hx-target="#link_list" 
      hx-swap="beforeend"
      class="relative grid grid-cols-1 md:grid-cols-2 gap-6 bg-shark-900 rounded-lg p-6 shadow-xl border border-shark-700 max-w-2xl w-full"
    >
      <button 
        type="button" 
        class="absolute top-2 right-2 w-8 h-8 flex items-center justify-center rounded-full hover:bg-red-400 transition-colors duration-200" 
        onclick="linkForm.close()">
        <img src="/public/x.svg" alt="close" width="16" height="16" class="pointer-events-none">
      </button>
      
      <div class="flex flex-col gap-2">
      <label for="link-name" class="text-shark-200 font-medium">Nombre</label>
      <input
        id="link-name"
        class="border border-shark-700 rounded-lg p-3 bg-shark-800 text-shark-200 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-colors duration-200"
        type="text"
        name="name"
        placeholder="Ejemplo: GitHub"
        autocomplete="off"
      />
      <span id="link-name-error" class="text-red-400 text-sm"></span>
    </div>
    <div class="flex flex-col gap-2">
      <label for="link-url" class="text-shark-200 font-medium">URL</label>
      <input
        id="link-url"
        class="border border-shark-700 rounded-lg p-3 bg-shark-800 text-shark-200 focus:outline-none focus:ring-2 focus:ring-blue-500 transition-colors duration-200"
        type="url"
        name="url"
        placeholder="Ejemplo: https://github.com"
      />
      <span id="link-url-error" class="text-red-400 text-sm"></span>
    </div>
    <div class="md:col-span-2 flex justify-end">
      <button
        class="px-4 py-2 bg-shark-700 text-shark-200 font-medium rounded-lg hover:bg-shark-600 transition-colors duration-200 flex items-center justify-center gap-2"
        type="submit"
      >
        <img src="/public/plus.svg" alt="add" width="16" height="16" class="pointer-events-none">
        <span>Agregar</span>
      </button>
    </div>
    </form>
  </div>
</dialog>
{{end}}

{{block "linkErrors" .}}
<div id="link-name-error" hx-swap-oob="innerHTML">{{.NameError}}</div>
<div id="link-url-error" hx-swap-oob="innerHTML">{{.URLError}}</div>
{{end}}