{{block "linkSection" .}}
<div>
  <span class="text-white text-xl">Enlaces</span>
  <button
    class="inline text-white"
    onclick="showAndHide('linkForm')"
  >
    +
  </button>
  {{template "linkForm" .}}
  {{template "linkList" .}}
</div>
{{end}}

{{block "linkEntry" .}}
<tr id="link_{{.ID}}">
  <td>
    <a class="text-shark-200" target="_blank" href="{{.URL}}">{{.Name}}</a>
  </td>
  <td>
    <button 
      hx-delete="/links/{{.ID}}" 
      hx-target="#link_{{.ID}}"
      hx-swap="delete"
      class="hover:border rounded hover:border-red-400  text-red-400 text-sm w-6 h-6 flex items-center justify-center">
      x
    </button>
  </td>
</tr>

{{end}} 

{{block "linkList" .}} 
<table id="link_list" class="border-separate border-spacing-2 ">
  {{range .Links}} {{template "linkEntry" .}} {{end}}
</table>
{{if not .Links}}
<span class="text-shark-200">No hay enlaces para mostrar</span>
{{end}} 
{{end}} 

{{block "linkForm" .}}
<div id="linkForm" class="hidden">
  <form 
    hx-post="/links" 
    hx-target="#link_list" 
    hx-swap="beforeend"
    class="flex items-end gap-4 bg-shark-900 rounded p-4"
  >
    <div>
      <label for="link-name" class="block text-shark-200">Nombre</label>
      <input
        id="link-name"
        class="border border-gray-300 rounded "
        type="text"
        name="name"
        required
      />
    </div>
    <div>
      <label for="link-url" class="block text-shark-200">Url</label>
      <input
        id="link-url"
        class="border border-gray-300 rounded"
        type="url"
        name="url"
        required
      />
    </div>
    <button
      class="w-28 h-7 border rounded border-blue-400 hover:border-blue-600 hover:text-blue-600 text-blue-400"
      type="submit"
    >
      Agregar
    </button>
  </form>
</div>
{{end}}
