{{block "loginPage" .}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="/static/htmx.min.js"></script>
  <link href="/static/output.css" rel="stylesheet" />
  <script src="/static/head-support.js"></script>
</head>

<body class="bg-shark-950" hx-ext="head-support">
  {{template "navBar" .User}}
  <div class="bg-shark-950 border border-shark-900 rounded max-w-lg mx-auto my-10">
    <form class="border border-black rounded p-4 space-y-4" hx-post="/login">
      <h1 class="text-white text-center font-bold text-lg">Inicio de sesión</h1>
      <div>
        <label for="email" class="text-shark-200 block text-sm font-medium">Correo</label>
        <input class="block w-full border border-gray-300 rounded p-2 mt-1" type="email" name="email" id="email"
          value="myemail@gmail.com" />
      </div>
      <div>
        <label for="password" class="block text-shark-200 text-sm font-medium">Contraseña</label>
        <input class="block w-full border border-gray-300 rounded p-2 mt-1" type="password" name="password"
          id="password" value="OhHellYes!" />
      </div>
      <div class="flex justify-center">
        <button class="border rounded border-blue-400 hover:border-blue-600 hover:text-blue-600 text-blue-400 font-bold py-2 px-4" type="submit">
          Iniciar sesión 
        </button>
      </div>
      <div class="flex justify-center">
        <a href="/register" class="text-blue-400 hover:text-blue-600">Registrarse</a>
      </div>
    </form>
</body>

</html>
{{end}}
