{{block "navBar" .}}

<nav class="flex flex-row text-white p-4 bg-shark-900">
  <div class="w-1/2 flex justify-around">
    <div class="flex items-end gap-4">
      <button
        class="inline-block rounded"
        hx-get="/"
        hx-target="body"
        hx-push-url="true"
        hx-boost="true"
      >
        <img src="/public/jobs.svg" alt="home icon" width="30" height="30" />
      </button>
      <form
        id="company-filters"
        hx-get="/"
        hx-target="body"
        hx-boost="true"
        hx-push-url="true"
        class="inline-block relative"
      >
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-2 pointer-events-none"
        >
          <img
            src="/public/search.svg"
            alt="home icon"
            width="20"
            height="20"
          />
        </div>
        <input
          id="f-query"
          type="text"
          name="q"
          class="bg-shark-950 ps-8 rounded text-shark-200 block w-full focus:outline-none focus:ring focus:ring-blue-500"
        />
      </form>
    </div>
    <button
      class="rounded font-semibold text-white"
      hx-get="/companies"
      hx-target="body"
      hx-push-url="true"
      hx-boost="true"
    >
      <img src="/public/company.svg" alt="home icon" width="30" height="30" />
    </button>
  </div>
  <div class="w-1/2 flex flex-row justify-center">
    {{template "userIcon" .}}
  </div>
</nav>
{{end}} {{block "userIcon" .}}

<div class="relative group">
  <div class="rounded text-white cursor-pointer">
    <img
      class="aspect-square rounded-full mx-auto object-cover inline"
      {{if
      .ImageURL}}
      src="{{.ImageURL}}"
      {{else}}
      src="/public/user.svg"
      {{end}}
      alt="user icon"
      width="30"
      height="30"
    />
  </div>
  <div
    class="left-1/2 transform -translate-x-1/2 group-hover:block hidden absolute z-10 rounded-lg shadow-sm w-44 bg-gray-700 divide-y divide-gray-600"
  >
    {{if eq .Role "visitor"}}
    <ul class="py-2 text-sm text-gray-200">
      <li
        class="cursor-pointer"
        hx-get="/login"
        hx-target="body"
        hx-push-url="true"
        hx-boost="true"
      >
        <span class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
          >Iniciar sesión</span
        >
      </li>
      <li
        class="cursor-pointer"
        hx-get="/register"
        hx-target="body"
        hx-push-url="true"
        hx-boost="true"
      >
        <span class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
          >Registrarse</span
        >
      </li>
    </ul>
    {{else}}
    <div class="px-4 py-3 text-sm text-white">
      <div class="truncate">{{.Name}}</div>
      <div class="font-medium truncate">{{.Email}}</div>
    </div>

    <ul class="py-2 text-sm text-gray-200">
      <li
        class="cursor-pointer"
        hx-get="/register/offers"
        hx-target="body"
        hx-push-url="true"
        hx-boost="true"
      >
        <span class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
          >Publicar oferta</span
        >
      </li>
      <li
        class="cursor-pointer"
        hx-get="/offers/admin"
        hx-target="body"
        hx-push-url="true"
        hx-boost="true"
      >
        <span class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
          >Mis publicaciones</span
        >
      </li>
    </ul>

    <ul class="py-2 text-sm text-gray-200">
      <li
        class="cursor-pointer"
        hx-get="/register/companies"
        hx-target="body"
        hx-push-url="true"
        hx-boost="true"
      >
        <span class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
          >Registrar empresa</span
        >
      </li>
      <li
        class="cursor-pointer"
        hx-get="/companies?u={{.ID}}"
        hx-target="body"
        hx-push-url="true"
        hx-boost="true"
      >
        <span class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
          >Mis empresas</span
        >
      </li>
    </ul>

    <ul class="py-2 text-sm text-gray-200">
      <li
        class="cursor-pointer"
        hx-get="/profile/{{.ID}}"
        hx-target="body"
        hx-push-url="true"
        hx-boost="true"
      >
        <span class="block px-4 py-2 hover:bg-gray-600 hover:text-white"
          >Perfil</span
        >
      </li>
      <li class="cursor-pointer" hx-post="/logout">
        <span class="block px-4 py-2 hover:bg-gray-600 hover:text-white">
          Cerrar sesión
        </span>
      </li>
    </ul>
    {{end}}
  </div>
</div>
{{end}}
