{{block "offerAdmin" .}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <script src="/static/htmx.min.js"></script>
    <link href="/static/output.css" rel="stylesheet" />
    <script src="/static/head-support.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  </head>

  <body class="bg-shark-950" hx-ext="head-support">
    {{template "navBar" .User}}
    <div class="flex justify-center p-4 text-shark-200">
      <section class="sm:w-full xl:w-3/4">
        <strong class="text-center font-semibold text-2xl"
          >{{.Offer.Title}}</strong
        >
        <p class="text-shark-300 font-light">Publicado {{.Offer.RelativeTime}}</p>
        <section class=" w-full">
          <strong class="text-center">Detalles de la prueba</strong>
          <p class="flex items-center text-shark-200 gap-2">
            <img class="inline" src="/public/clock.svg" width="20" height="20" alt="clock icon" />
            {{.Quiz.Duration}} minutos
          </p>
          <div class="flex flex-wrap gap-2 overflow-x-auto max-w-full">
            {{range .Languages}}
            <span class="rounded border border-shark-200 text-shark-200 px-2">{{.DisplayName}}</span>
            {{end}}
          </div>
          <div class="flex flex-col">
            <strong>Problemas</strong>
            <section class="grid grid-cols-2 gap-4">
              {{range .Problems}}
              <details class="bg-shark-900 rounded" >
                <summary class="hover:bg-gray-800 px-4 py-2 cursor-pointer">{{.Title}}</summary>
                <div class="p-8">
                  <pre class="whitespace-pre-wrap">{{.Description}}</pre>
                  {{template "examples" .Examples}}
                </div>
              </details>
              {{end}}
            </section>
          </div>
        </section>
        <div class="flex flex-col gap-4">
          <span class="text-xl">Aplicantes</span>
          {{range .Applicants}} 
          {{template "applicantCard" .}} 
          {{end}}
        </div>
      </section>
    </div>
  </body>
</html>
{{end}} 

{{block "applicantCard" .}}
<div class="flex flex-row rounded border border-shark-900 p-4">
  <div class="w-1/4 flex flex-col justify-center gap-2">
    <div class="flex flex-row justify-center">
      <img
        class="w-1/2 h-auto border border-gray-700 hover:border-white aspect-square mx-auto object-cover cursor-pointer"
        hx-get="/profile/{{.Applicant.ID}}"
        hx-push-url="true"
        hx-target="body"
        hx-boost="true"
        {{if
        .Applicant.ImageURL}}
        src="{{.Applicant.ImageURL}}"
        {{else}}
        src="/public/user.svg"
        {{end}}
        width="40"
        height="40"
      />
    </div>
    <span class="text-center font-semibold text-xl"
      >{{.Applicant.Name}}</span
    >
    <span class="text-center">{{.Applicant.Email}}</span>
  </div>
  <div class="w-3/4 p-8">
    <span>Entregado: {{.Participation.RelativeTime}}</span>
      <div class="flex justify-between">
        <span class="text-shark-200 text-xl font-semibold">Problema</span>
        <span class="text-shark-200 text-xl font-semibold">Puntaje</span>
      </div>
    <div class="flex flex-col gap-2">
      {{ $applicant := .Applicant }}
      {{range .Results}}
      <details
        class="bg-gray-900"
      >
        <summary class="flex-auto flex hover:bg-gray-800 justify-between cursor-pointer p-2"
          hx-get="/source/{{.Problem.ID}}/{{$applicant.ID}}"
          hx-trigger="click once"
          hx-target="#appl-{{$applicant.ID}}"
          hx-swap="outerHTML"
        >
          <span class="text-shark-200">{{.Problem.Title}}</span>
          {{if eq .Score.AcceptedTestCases 0}}
          <span class="text-red-500">
          {{else}}
            {{if eq .Score.AcceptedTestCases .Score.TotalTestCases}}
          <span class="text-green-600">
            {{else}}
          <span class="text-yellow-600">
            {{end}}
          {{end}}
            {{.Score.AcceptedTestCases}}/{{.Score.TotalTestCases}}</span>
        </summary>
        <section id="appl-{{$applicant.ID}}"></section>
      </details>
      {{end}}
    </div>
  </div>
</div>
{{end}}

{{block "sourceCard" .}}
<section class="p-4">
  <pre id="sbm-{{.Submission.ID}}">
    <code>{{.Submission.Src | html}}
    </code>
  </pre>
  <span>Casos de prueba</span>
  <div class="flex flex-col gap-4">
  {{range .TestCases}}
    <details class="p-2">
      <summary class="flex bg-shark-950 hover:bg-gray-800 p-2">
        {{if eq .Result.Status "Accepted"}}
        <span class="w-1/3 text-green-600">{{.Result.Status}}</span>
        {{else}}
        <span class="w-1/3 text-red-500">{{.Result.Status}}</span>
        {{end}}
        <span class="w-1/3 flex items-center gap-2">
          <img class="inline" src="/public/clock.svg" width="20" height="20" alt="clock icon" />
          {{.Result.Time}} ms
        </span>
        <span class="w-1/3">{{.Result.Memory}} Kb</span>
      </summary>
      <div class="flex">
        <div class="w-1/2 flex flex-col p-4">
          <span>Entrada</span>
          <pre class="bg-shark-950 p-2">{{.TestCase.Input}}</pre>
          <span>Salida esperada</span>
          <pre class="bg-shark-950 p-2">{{.TestCase.Output}}</pre>
        </div>
        <div class="w-1/2 flex flex-col p-4">
          <div>
            <span>Salida obtenida</span>
            <pre class="bg-shark-950 p-2">{{.Result.Output}}</pre>
          </div>
        </div>
      </div>
    </details>
  {{end}}
  </div>
  <script>hljs.highlightElement(document.getElementById("sbm-{{.Submission.ID}}"));</script>
</section>
{{end}}

{{block "noSourceCard" .}}
<div class="flex flex-col px-4 py-2 rounded bg-gray-900">
  <span>{{.Msg}}</span>
</div>
{{end}}
