{{block "offerAdmin" .}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <script src="/static/htmx.min.js"></script>
    <link href="/static/output.css" rel="stylesheet" />
    <script src="/static/head-support.js"></script>
  </head>

  <body class="bg-shark-950" hx-ext="head-support">
    {{template "navBar" .User}}
    <div class="flex justify-center p-4 text-shark-200">
      <section class="sm:w-full xl:w-3/4">
        <strong class="text-center font-semibold text-2xl"
          >{{.Offer.Title}}</strong
        >
        <div class="flex flex-col gap-4">
          <span class="text-xl">Aplicantes</span>
          {{range .Applicants}} 
          {{template "applicantCard" .}} 
          {{end}}
        </div>
      </section>
    </div>
  </body>
</html>
{{end}} 

{{block "applicantCard" .}}
<div class="flex flex-row rounded border border-shark-900 p-4">
  <div class="w-1/4 flex flex-col justify-center gap-2">
    <div class="flex flex-row justify-center">
      <img
        class="w-1/2 h-auto border border-gray-700 hover:border-white aspect-square mx-auto object-cover cursor-pointer"
        hx-get="/profile/{{.Applicant.ID}}"
        hx-push-url="true"
        hx-target="body"
        hx-boost="true"
        {{if
        .Applicant.ImageURL}}
        src="{{.Applicant.ImageURL}}"
        {{else}}
        src="/public/user.svg"
        {{end}}
        width="40"
        height="40"
      />
    </div>
    <span class="text-center font-semibold text-xl"
      >{{.Applicant.Name}}</span
    >
    <span class="text-center">{{.Applicant.Email}}</span>
  </div>
  <div class="w-3/4 p-8">
      <div class="flex justify-between">
        <span class="text-shark-200 text-xl font-semibold">Problema</span>
        <span class="text-shark-200 text-xl font-semibold">Puntaje</span>
      </div>
    <div class="flex flex-col gap-2">
      {{ $applicant := .Applicant }}
      {{range .Results}}
      <section class="flex gap-2">
        <div class="flex-auto flex justify-between">
          <span class="text-shark-200">{{.Problem.Title}}</span>
          {{if eq .Score.AcceptedTestCases 0}}
          <span class="text-red-500">
          {{else}}
            {{if eq .Score.AcceptedTestCases .Score.TotalTestCases}}
          <span class="text-green-600">
            {{else}}
          <span class="text-yellow-600">
            {{end}}
          {{end}}
            {{.Score.AcceptedTestCases}}/{{.Score.TotalTestCases}}</span>
        </div>
      </section>
      <div 
        class="bg-gray-900 hover:bg-gray-800 px-4 py-2 cursor-pointer"
        hx-get="/source/{{.Problem.ID}}/{{$applicant.ID}}"
        hx-swap="outerHTML"
      >
        <img src="/public/eye.svg" alt="home icon" width="15" height="15" />
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}

{{block "sourceCard" .}}
<details class="block bg-gray-900 rounded" open>
  <summary class="hover:bg-gray-800 px-4 py-2 cursor-pointer">
  </summary>
  <div class="flex flex-col p-4 truncate bg-gray-900">
    <pre>{{.Submission.Src}}
    </pre>
  </div>
</details>
{{end}}

{{block "noSourceCard" .}}
<div class="flex flex-col px-4 py-2 rounded bg-gray-900">
  <span>{{.Msg}}</span>
</div>
{{end}}
