{{block "offerListPage" .}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <script src="/static/htmx.min.js"></script>
  <link href="/static/output.css" rel="stylesheet" />
  <script src="/static/head-support.js"></script>
</head>

<body class="" hx-ext="head-support">
  <section class="bg-shark-950 h-screen flex flex-col font-mono">
    {{template "navBar" .User}}
    <div class="flex flex-row p-4 justify-center overflow-y-auto">
      <div class="w-1/2 flex flex-col gap-4">
        <strong class="text-white text-center text-xl">Publicaciones</strong>
        <div class="grid grid-cols-2 gap-4 m-4">
          {{template "offerList" .}}
        </div>
      </div>
    </div>
  </section>
</body>

</html>
{{end}} 

{{block "offerList" .}}
{{if .Offers}}
  {{range .Offers}} {{template "offerCard" .}} {{end}}
  {{if .Filters}}
  <div hx-get="/?page={{.NextPage}}&{{.Filters}}" hx-trigger="revealed" hx-swap="afterend"></div>
  {{else}}
  <div hx-get="/?page={{.NextPage}}" hx-trigger="revealed" hx-swap="afterend"></div>
  {{end}}
{{else}}
<span class="text-white/50 text-center">No quedan más publicaciones</span>
{{end}}
{{end}}

{{block "offerCard" .}}
<div class="group flex flex-col truncate gap-2 border border-shark-900 rounded-sm p-8 cursor-pointer transition-shadow duration-200 hover:border-white"
     hx-get="/preamble/{{.ID}}" hx-trigger="click" hx-push-url="true" hx-target="body">
  <div class="flex gap-2">
    <img class="border border-gray-700 hover:border-white cursor-pointer"
         {{if .CompanyImageURL}}src="{{.CompanyImageURL}}"{{else}}src="/public/company.svg"{{end}}
         width="50" height="50" 
         hx-get="/companies/{{.CompanyID}}" hx-boost="true" hx-push-url="true" hx-target="body"
         onclick="event.stopPropagation()" />
    <div class="flex-1 flex flex-col justify-center">
      <p class="truncate text-shark-200 font-semibold">
        {{.CompanyName}}
      </p>
      <p class="truncate text-shark-200 text-xl">
        {{.Title}}
      </p>
    </div>
  </div>
  <div class="flex justify-between">
    <span class="text-yellow-100">{{.MinWage}}$ - {{.MaxWage}}$</span>
    <span class="text-shark-300 font-light">{{.RelativeTime}}</span>
  </div>
</div>
{{end}}
