{{block "profilePage" .}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>User</title>
  <link href="/static/output.css" rel="stylesheet" />
  <script src="/static/htmx.min.js"></script>
  <script src="/static/head-support.js"></script>
  <script src="/static/preview.js" type="module" defer></script>
</head>

<body class="bg-shark-950" hx-ext="head-support">
  {{template "navBar" .User}}
  <div class="flex flex-row justify-center">
    <div class="w-1/2 flex flex-col p-4 gap-4">
      <form class="relative flex flex-col gap-2 select-none" hx-patch="/pictures" hx-encoding="multipart/form-data" hx-target="#image-error">
        <!-- Image container (relative positioning for absolute child) -->
        <div class="relative w-1/2 mx-auto aspect-square rounded-full border-2 border-gray-700">
          <!-- Profile image -->
          <img 
            {{if eq .Profile.ImageURL ""}}
            src="/public/user.svg"
            {{else}}
            src="{{.Profile.ImageURL}}"
            {{end}}
            class="w-full h-full rounded-full object-cover"
            id="preview"
            alt="avatar"
          />
          
          <!-- Edit button (positioned absolutely within the circle) -->
          <label 
            for="image" 
            class="absolute bottom-2 right-2 hover:bg-gray-700 p-2 rounded-full cursor-pointer transition-all"
          >
            <img src="/public/edit.svg" class="w-6 h-6" alt="Edit">
          </label>
        </div>

        <!-- Hidden file input -->
        <input 
          type="file" 
          name="image" 
          id="image" 
          accept="image/*" 
          class="hidden" 
          onchange='window.previewImage(event, "/public/user.svg")'
        >

        <!-- Action buttons (keep these hidden initially) -->
        <div class="flex justify-center gap-2">
          <button class="hidden text-white bg-green-600 hover:bg-green-500 px-2 py-1" id="save-image" type="submit">Guardar</button>
          <button class="hidden text-white bg-red-500 hover:bg-red-400 px-2 py-1" id="cancel" onclick='window.editionCancel(event, "/public/user.svg")'>Cancelar</button>
        </div>
        
        <!-- Error message -->
        <span id="image-error" class="block text-center text-red-500 text-sm mt-2"></span>
      </form>
      <span class="text-center text-shark-200 text-2xl">{{.Profile.Name}}</span>
      <span class="text-shark-200">{{.Profile.Description}}</span>
      {{template "linkSection" .}}
      {{template "experienceSection" .}}
      {{template "educationSection" .}}
      {{template "skillSection" .}}
      <span class="text-center font-semibold text-xl text-white">Mis solicitudes</span>
      {{range .Participations}} {{template "offerCard" .}} {{end}} 
    </div>
  </div>
</body>

</html>
{{end}}  
