{{block "profilePage" .}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{.Profile.Name}}</title>
  <link href="/static/output.css" rel="stylesheet" />
  <script src="/static/htmx.min.js"></script>
  <script src="/static/head-support.js"></script>
  <script src="/static/preview.js" type="module" defer></script>
</head>

<body class="" hx-ext="head-support" >
  <section class="bg-shark-950 h-screen flex flex-col font-mono">
    {{template "navBar" .User}}
    <div class="flex-1 flex flex-col justify-between overflow-y-auto">
      <main class="flex flex-row justify-center">
        <div class="w-full xl:w-1/2 flex flex-col p-4 gap-8">
          <!-- Profile Information -->
          <form class="relative flex flex-col gap-2 select-none" hx-patch="/pictures" hx-encoding="multipart/form-data" hx-target="#image-error">
            <div class="relative w-1/4 mx-auto aspect-square ">
              <div class="mx-auto aspect-square rounded-full border-2 border-gray-700 overflow-hidden">
                <img 
                  {{if eq .Profile.ImageURL ""}}
                  src="/public/user.svg"
                  {{else}}
                  src="{{.Profile.ImageURL}}"
                  {{end}}
                  class="w-full h-full object-cover"
                  id="preview"
                  alt="avatar"
                />
              </div>
              {{if .Owner}}
              <label 
                for="preview-input" 
                class="absolute bottom-0 right-2 bg-gray-700 hover:bg-gray-600 p-2 rounded-full cursor-pointer transition-all"
                title="Editar foto"
              >
                <img src="/public/edit.svg" class="w-6 h-6" alt="Edit">
              </label>
              {{end}}
            </div>
            {{if .Owner}}
            <input 
              type="file" 
              name="image" 
              id="preview-input" 
              accept="image/*" 
              class="hidden" 
            >
            <section id="edit-options" class="hidden">
              <div class="flex justify-center gap-2">
                <button 
                  id="save-image"
                  class="flex justify-center justify-items-center cursor-pointer w-7 h-7 rounded-full hover:bg-green-700 transition-colors duration-200"
                  type="submit"
                  title="Guardar cambios"
                >
                  <img 
                    src="/public/check.svg" 
                    alt="Añadir" 
                    width="16" 
                    height="16"
                    class="pointer-events-none"
                  />
                </button>
                <button 
                  id="cancel"
                  class="flex justify-center cursor-pointer justify-items-center w-7 h-7 rounded-full hover:bg-red-400 transition-colors duration-200"
                  title="Cancelar"
                >
                  <img 
                    src="/public/x.svg" 
                    alt="Añadir" 
                    width="16" 
                    height="16"
                    class="pointer-events-none"
                  />
                </button>
              </div>
            </section>
            {{end}}

            <span id="image-error" class="block text-center text-red-500 text-sm mt-2"></span>
          </form>

          <span class="text-center text-shark-200 text-4xl font-bold">{{.Profile.Name}}</span>
          {{template "pDescription" .}}

          {{if .Owner}}
          <!-- Section toggles -->
          <fieldset class="flex flex-wrap justify-center gap-4">
            <input id="pdata" class="peer/pdata hidden" type="radio" name="sect" checked />
            <label for="pdata" class="peer-checked/pdata:border-gray-600 px-4 py-2 text-gray-500 text-xl border-b 
                hover:border-gray-600 border-transparent transition-colors duration-200 cursor-pointer">
              Datos personales</label>
            <input id="prt" class="peer/prt hidden" type="radio" name="sect" />
            <label for="prt" 
              class="peer-checked/prt:border-gray-600 px-4 py-2 text-gray-500 text-xl border-b 
              hover:border-gray-600 border-transparent transition-colors duration-200 cursor-pointer"
            >
              Participaciones</label>

            <div class="hidden w-full peer-checked/pdata:block">
              <div class="flex flex-col gap-8">
                {{template "contactSection" .}}
                {{template "linkSection" .}}
                {{template "skillSection" .}}
                <div class="flex flex-row divide-x divide-black">
                  <div class="flex w-1/2 justify-center">
                    {{template "experienceSection" .}}
                  </div>
                  <div class="flex w-1/2 justify-center">
                    {{template "educationSection" .}}
                  </div>
                </div>
              </div>
            </div>

            <div class="hidden w-full peer-checked/prt:block">
              {{if .Participations}}
              {{range .Participations}} {{template "offerCard" .}} {{end}}
              {{else}}
              <span class="text-center text-shark-200">Todavía no ha participado en ninguna prueba</span>
              {{end}}
            </div>
          </fieldset>
          {{else}}
          <div class="w-full">
            <div class="flex flex-col gap-8">
              {{template "contactSection" .}}
              {{template "linkSection" .}}
              {{template "skillSection" .}}
              <div class="flex flex-row divide-x divide-black">
                <div class="flex w-1/2 justify-center">
                  {{template "experienceSection" .}}
                </div>
                <div class="flex w-1/2 justify-center">
                  {{template "educationSection" .}}
                </div>
              </div>
            </div>
          </div>
          {{end}}

        </div>
      </main>
    </div>
  </section>
</body>
</html>
{{end}}
