{{block "skillSection" .}}
<div>
  <div class="flex items-center justify-center gap-3">
    <span class="text-white text-xl font-medium">Habilidades</span>
    <button 
      onclick="window.showAndHide('skillForm')"
      class="flex items-center justify-center w-7 h-7 rounded-full hover:bg-green-700 transition-colors duration-200"
      type="button"
      aria-label="Añadir habilidad"
    >
      <img 
        src="/public/plus.svg" 
        alt="Añadir" 
        width="16" 
        height="16"
        class="pointer-events-none"
      />
    </button>
  </div>
  {{template "skillForm" .}}
  {{template "skillList" .}}
</div>
{{end}}

{{block "skillEntry" .}}
<tr id="skill_{{.ID}}">
  <td>
    <span class="text-shark-200">{{.Name}}</span>
  </td>
  <td>
    <button 
      hx-delete="/skills/{{.ID}}" 
      hx-target="#skill_{{.ID}}"
      hx-swap="delete"
      class="flex items-center justify-center w-7 h-7 rounded-full hover:bg-red-400 transition-colors duration-200">
        <img src="/public/x.svg" alt="delete icon" width="16" height="16" style="pointer-events: none" />
    </button>
  </td>
</tr>

{{end}} 

{{block "skillList" .}} 
<table id="skill_list" class="border-separate border-spacing-2 ">
  {{range .Skills}} {{template "skillEntry" .}} {{end}}
</table>
{{if not .Skills}}
<span class="text-shark-200">No hay habilidades para mostrar</span>
{{end}} 
{{end}} 

{{block "skillForm" .}}
<div id="skillForm" class="hidden">
  <form 
    hx-post="/skills" 
    hx-target="#skill_list" 
    hx-swap="beforeend"
    class="flex items-end gap-4 bg-shark-900 rounded p-4"
  >
    <div>
      <label for="skill-name" class="block text-shark-200">Habilidad</label>
      <input
        id="skill-name"
        class="border border-gray-300 rounded "
        type="text"
        name="name"
        required
      />
    </div>
    <button
      class="w-28 h-7 border rounded border-blue-400 hover:border-blue-600 hover:text-blue-600 text-blue-400"
      type="submit"
    >
      Agregar
    </button>
  </form>
</div>
{{end}}
